
.publisher {
    width: 500px;
    height: 500px;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 500px;

    button {
        max-width: 100px;
        margin: 10px;
    }
}
